.carousel-control-prev-icon {
    background-image: url("./img/left.png");
}

.carousel-control-next-icon {
    background-image: url("./img/right.png");
}

.carousel-dark .carousel-indicators [data-bs-target] {
    filter: brightness(0) saturate(100%) invert(21%) sepia(59%) saturate(3753%) hue-rotate(295deg) brightness(79%) contrast(91%);
}